[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
unfccc_di_api = "*"
jupyter = "*"
openpyxl = "*"
unidecode = "*"

[dev-packages]

[requires]
python_version = "3.9"
